<div class="container frameworks">
    <div class="row">
        <div class="col-12">
            <ul class="frameworks__items">
                <li><img src="images/frameworks/selenium.png" alt="selenium"></li>
                <li><img src="images/frameworks/playwright.png" alt="playwright"></li>
                <li><img src="images/frameworks/cypress.png" alt="cypress"></li>
                <li><img src="images/frameworks/puppeteer.png" alt="puppeteer"></li>
            </ul>
        </div>
        <div class="col-12">
            {{ partial "browsers" . }}
        </div>
    </div>
</div>
