<div class="container frameworks">
    <div class="row">
        <div class="col-12">
            <ul class="row frameworks__items">
                {{ range .Site.Data.meta.frameworks }}
                <li class="col-12 col-sm-3">
                    <a href="{{ .url }}" target="_blank">
                        <div class="frameworks__item">
                            <img src="images/frameworks/{{ .icon }}" alt="{{ .alt }}">
                        </div>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="col-12">
            {{ partial "browsers" . }}
        </div>
    </div>
</div>
