<div class="container frameworks">
    <div class="row">
        <div class="col-12">
            <ul class="row frameworks__items">
                <li class="col-12 col-sm-3"><div class="frameworks__item"><img src="images/frameworks/selenium.png" alt="selenium"></div></li>
                <li class="col-12 col-sm-3"><div class="frameworks__item"><img src="images/frameworks/playwright.png" alt="playwright"></div></li>
                <li class="col-12 col-sm-3"><div class="frameworks__item"><img src="images/frameworks/cypress.png" alt="cypress"></div></li>
                <li class="col-12 col-sm-3"><div class="frameworks__item"><img src="images/frameworks/puppeteer.png" alt="puppeteer"></div></li>
            </ul>
        </div>
        <div class="col-12">
            {{ partial "browsers" . }}
        </div>
    </div>
</div>
