<div class="howitworks__background">
    <div class="container howitworks">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="pricing__title" id="howitworks">How it works</h2>
            </div>
            <div class="col-10 offset-1">
                <div class="howitworks__illustration"></div>
            </div>
        </div>
        <div class="row">
            <ul class="col-10 offset-1 howitworks__steps">
                <li class="howitworks__step">You get a completely dedicated cluster in one of supported cloud platforms: <a href="https://aws.amazon.com/" title="Amazon Web Services" target="_blank">AWS</a>, <a href="https://cloud.google.com/" title="Google Cloud" target="_blank">Google Cloud</a> or <a href="https://azure.microsoft.com/" title="Microsoft Azure" target="_blank">Microsoft Azure</a>.</li>
                <li class="howitworks__step">We always run this cluster in the geographic region near you, so network connectivity is lightning fast.</li>
                <li class="howitworks__step">Running in <a href="https://kubernetes.io/" title="Kubernetes" target="_blank">Kubernetes</a> Moon Cloud has autoscaling feature, i.e. shrinks and grows depending on how many browsers you need. Because of that you only pay for computing resources you really consume.</li>
                <li class="howitworks__step">You can use all popular browser automation frameworks: <a href="https://selenium.dev/" title="Selenium" target="_blank">Selenium</a>, <a href="https://playwright.dev/" title="Playwright" target="_blank">Playwright</a>, <a href="https://pptr.dev/" title="Puppeteer" target="_blank">Puppeteer</a> and <a href="https://cypress.io/" title="Cypress" target="_blank">Cypress</a> simultaneously.</li>
                <li class="howitworks__step">Moon Cloud relies on cloud platform networking features and can access your workstation, corporate network server or another cloud project.</li>
            </ul>
        </div>
    </div>
</div>
