<div class="howitworks__background">
    <div class="container howitworks">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="pricing__title" id="howitworks">How it works</h2>
            </div>
            <div class="col-10 offset-1">
                <div class="howitworks__illustration"></div>
            </div>
        </div>
        <div class="row">
            <ul class="col-10 offset-1 howitworks__steps">
                <li class="howitworks__step">You get a completely dedicated cluster in one of supported cloud platforms: AWS, Google Cloud or Microsoft Azure.</li>
                <li class="howitworks__step">We always run this cluster in the geographic region near you, so network connectivity is lightning fast.</li>
                <li class="howitworks__step">Moon Cloud is running in Kubernetes has autoscaling feature, i.e. shrinks and grows depending on how many browsers you need. Because of that you only pay for computing resources you really consume.</li>
                <li class="howitworks__step">You can use all popular browser automation frameworks: Selenium, Playwright, Puppeteer and Cypress simultaneously.</li>
                <li class="howitworks__step">Moon Cloud relies on cloud networking features and can access to your workstation, corporate network server or cloud project.</li>
            </ul>
        </div>
    </div>
</div>